<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLYBANHANG.Properties.Settings.QLBanHangConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\LTWIN_CUOIKI\QUANLYBANHANG\QUANLYBANHANG\QuanLyBanHang.mdf;Integrated Security=True;Connect Timeout=30" />
        <add name="QuanLyBanHang.mdf" connectionString="xpoprovider=MSSqlServer;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\LTWIN_CUOIKI\QUANLYBANHANG\QUANLYBANHANG\QuanLyBanHang.mdf;integrated security=True;connect timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>